<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Product Id="*" Name="Demo website setup" Language="1033" Version="1.0.0.0" Manufacturer="Ivedix" UpgradeCode="9279b740-8419-45c4-9538-6a45f8e949c7">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="DemoWebsite.cab" EmbedCab="yes" />

    <!--<Feature Id="ProductFeature" Title="DemoWebsite.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="BinComponents" />
      <ComponentRef Id="WebVirtualDirComponent" />
    </Feature>-->
    <Feature Id="ProductFeature" Title="DemoWebsite.Setup" Level="1">
      <ComponentGroupRef Id="MyWebWebComponents" />
    </Feature>
  </Product>

  <!--<Fragment>
    -->
  <!-- Will default to C:\ if that is the main disk-->
  <!--
    <Directory Id="TARGETDIR" Name="SourceDir">
      -->
  <!-- Will reference to C:\inetpub-->
  <!--
      <Directory Id="INETPUB" Name="Inetpub">
        -->
  <!-- Will reference to c:\Inetpub\Demowebsite-->
  <!--
        <Directory Id="WWWROOT" Name="wwwroot">
          <Directory Id="INSTALLFOLDER" Name="DemoWebsite">
            <Directory Id="BIN" Name="bin"/>
            <Component Id="WebVirtualDirComponent" Guid="D814F88F-6E0C-4365-A411-2F9807522C3D">
              -->
  <!--<iis:WebVirtualDir Id="VDir" Alias="DefaultWebSite"	Directory="INSTALLFOLDER" WebSite="DemoWebsite"  >
                <iis:WebApplication Id="DemoWebsite"	Name="DemoWebsite" />
              </iis:WebVirtualDir>-->
  <!--
                <iis:WebSite Id="DemoWebsite" Description="DemoWebsite"		Directory="INSTALLFOLDER">
                  <iis:WebAddress Id="AllUnassigned" Port="8082" />
                </iis:WebSite>
              
              <CreateFolder/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{6F44232F-1C0B-4278-AB2B-BFD34FAE863C}">
        <File Id="favicon.ico" Source="..\DemoWebsite\favicon.ico" />
        <File Id="Global.asax" Source="..\DemoWebsite\Global.asax" />
        <File Id="Web.config" Source="..\DemoWebsite\Web.config" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="BinComponents" Directory="BIN">
      <Component Id="BinComponent" Guid="{A41811D7-49DD-462B-98D2-56DF1202008E}">
        <File Id="Antlr3.Runtime.dll" Source="..\DemoWebsite\bin\Antlr3.Runtime.dll" />
        -->
  <!--<File Id="DotNetOpenAuth.AspNet.dll" Source="..\DemoWebsite\bin\DotNetOpenAuth.AspNet.dll" />-->
  <!--
        -->
  <!-- And so on and on -->
  <!--
      </Component>
    </ComponentGroup>
  </Fragment>-->
  <Fragment>
    <!-- Will default to C:\ if that is the main disk-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Will reference to C:\inetpub-->
      <Directory Id="INETPUB" Name="Inetpub">
        <!-- Will reference to c:\Inetpub\Demowebsite-->
        <Directory Id="INSTALLFOLDER" Name="DemoWebsite">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

</Wix>